@font-face {
font-family: 'Segoe WPN';
font-style: normal;
font-weight: normal;
src: local('Segoe WPN'), url('SegoeWPN.woff') format('woff');
}
@font-face {
font-family: 'Segoe';
font-style: normal;
font-weight: normal;
src: local('Segoe'), url('SegoeUIRegular.woff') format('woff');
}

.header{
  padding: 24px 152px 0 141px;
  overflow: hidden;
}
.logo{
  float: left;
}
.navigation{
  float: right;
}
.mobile-btn{
  display: none;
}
ul.navbar-nav{
  list-style: none;
display: inline-block;
overflow: hidden;
margin: 0;
}
ul.navbar-nav li{
  float: left;
  padding: 15px;
}
ul.navbar-nav li a{
  color: #6c6c6c;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.navbar-nav>li.active,
.navbar-nav>li:hover{
  color: #6c6c6c;
  background-color: white;
  border-bottom: 3px solid #5094f2;
}
.content{
  padding: 0;
  margin: 0;
}
.swiper-container{
  /*height: 50%;*/
  display: block;
  background-image: url(../img/swiper-fon.png);
}
.swiper-slide img{
  margin: 2% 10% 0 14%;
  float: left;
}

.content-wrapper>div img{
  padding-top: 38px;
  margin-right: 104px;
}

.slider-content{
  color: white;
  padding-top: 10%;
}

.slider-content h2{
  font-size: 42px;

}

.slider-content span{
  display: inline-block;
  font-size:  26px;
  margin-bottom: 42px;
}
a.slider-button {
  text-decoration: none;
  color:white;
  font-weight: 100;
  font-size:  22px;
  padding: 8px 8px 8px 45px;
  background-color: #5094f2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-image: url("../img/btn-swiper.png");
  background-repeat: no-repeat;
  background-position: 11px 50%;
  margin-left: 20px;
}
.swiper-button-next{
  background-image: url(../img/swp-r.png);
  right: 3%;
}
.swiper-button-prev{
  background-image: url(../img/swp-l.png);
  left: 3%;
}
.swiper-container::after {
    content: '';
    position: absolute;
    content: "";
    width: 100%;
    height: 11px;
    background-image: url(../img/bgr-ramka.png);
    background-repeat: repeat-x;
    bottom: -1px;
    z-index: 1000;
}
.my-blocks{
  padding: 73px 0;

}
.my-block{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.main-blocks{
max-width: 1000px;
margin: 0 auto;
}
.my-block-pen,
.my-block-monitor,
.my-block-basket{
  background-color: #5094f2;
  width: 186px;
  height: 186px;
  margin: 0 auto;
  border-radius: 50%;
  vertical-align: middle;
  /*padding-top: 10%;*/
  overflow: hidden;
position: relative;

}
.my-block-monitor{
  background-color: #d94748;
  /*padding-top: 15%;*/
}
.my-block-basket{
  background-color: #ebbb11;
  /*padding-top: 14%;*/
}
.my-block-pen img,
.my-block-monitor img,
.my-block-basket img{
  position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
}
.my-block span{
  color: #5094f2;
  font-family: "Segoe";
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
}
.my-block span p{
  color: #909090;
  font-family: "Segoe";
  font-size: 14px;
  font-weight: 400;
}
.cart{
  overflow: hidden;

}
.cart-l{
  float: left;
  width: 45%;
  text-align: center;
  margin-right: 41px;
}
.cart-l h1{
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
}

.cart-r{
  width: 45%;
  float: left;
  margin-left: 41px;
  padding-top: 30px;
}
.cart-r h3{
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
}
.cart-r p{
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
.footer{
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 ;
  margin-top: 50px;
}
.footer span{
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
.footer span>a{
  text-decoration: none;
  color: #909090;

}
@media screen and (max-width:768px) {
  .mobile-btn{
    display: block;
  }

  .header {
      padding: 27px;
  }
  .my-blocks {
      padding: 0;
  }
  .my-block {
    display: block;
    width: 100%;
    text-align: initial;
    border-bottom: 1px solid #cccccc;
    padding: 39px 0 18px 45px;
    overflow: hidden;
  }
  .my-block-pen,
  .my-block-monitor,
  .my-block-basket{
    float: left;
    max-width: 136px;
    max-height: 136px;
    margin-right: 25px;
  }
  .my-block-pen img,
  .my-block-monitor img,
  .my-block-basket img{
    max-width: 80px;
    max-height: 80px;
  }
  .my-block span {
      color: #5094f2;
      font-family: "Segoe";
      font-size: 34px;
      line-height: 52px;
  }
  .my-block p{
    color: #909090;
    font-size: 19px;
  }
  .cart{
    padding: 50px;
  }
  .cart-l,
  .cart-r {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }
  .cart-l img{
    margin-top: 35px;
    max-width: 215px;
  }
  .cart-r h3{
    font-size: 34px;

  line-height: 44px;
  }
  .cart-r p{
    font-size: 17px;

  line-height: 36px;
  }
  ul.navbar-nav {
      float: none;
      text-align: center;
      display: none;
      position: absolute;
      left: 0;
    width: 100%;
    padding: 0;
  }
ul.navbar-nav li{
  float: none;
  width: 100%;

}
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
  .swiper-slide img {
      margin: 22px 66px 0 37px;
      max-width: 223px;
      width: auto;
  }
  .swiper-container::after{
    display: none;
  }
  .swiper-slide {
      background-size: cover;
  }
  .slider-content h2 {
      font-size: 31px;
  }
.slider-content span{
  font-size: 23px;
}
.slider-content{
  padding-top: 28px;
  padding-right: 74px;
}
a.slider-button {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 31px;
    padding: 8px 8px 8px 45px;
    background-color: #5094f2;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-position: 11px 50%;
    margin-left: 0;
}
.header{
  position: relative;
  /*height: 220px;*/
}

}
