@font-face {
font-family: 'Segoe WPN';
font-style: normal;
font-weight: normal;
src: local('Segoe WPN'), url('SegoeWPN.woff') format('woff');
}
@font-face {
font-family: 'Segoe';
font-style: normal;
font-weight: normal;
src: local('Segoe'), url('SegoeUIRegular.woff') format('woff');
}

.header{
  padding: 24px 152px 0 141px;
}
.navbar-default{
  background-color: white;
  border-color: white;
  margin-bottom: 0;
}
ul.navbar-nav li a{
  color: #6c6c6c;
  font-family: "Segoe WPN";
  font-size: 16px;
  font-weight: 400;
}
.navbar-nav{
  float: right;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover{
  color: #6c6c6c;
  background-color: white;
  border-bottom: 3px solid #5094f2;
}
.content{
  padding: 0;
  margin: 0;
}
.swiper-container{
  /*height: 50%;*/
  display: block;

}
.swiper-slide{
  background-image: url(../img/swiper-fon.png);
}
.swiper-slide img{
  margin: 2% 10% 0 14%;
  float: left;
}

.content-wrapper>div img{
  padding-top: 38px;
  margin-right: 104px;
}

.slider-content{
  color: white;
  padding-top: 10%;
}

.slider-content h2{
  font-size: 42px;

}

.slider-content span{
  display: inline-block;
  font-size:  26px;
  margin-bottom: 42px;
}
a.slider-button {
  text-decoration: none;
  color:white;
  font-weight: 100;
  font-size:  22px;
  padding: 8px 8px 8px 45px;
  background-color: #5094f2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-image: url("../img/btn-swiper.png");
  background-repeat: no-repeat;
  background-position: 11px 50%;
  margin-left: 20px;
}
.swiper-button-next{
  background-image: url(../img/swp-r.png);
  right: 3%;
}
.swiper-button-prev{
  background-image: url(../img/swp-l.png);
  left: 3%;
}
.swiper-container::after {
    content: '';
    position: absolute;
    content: "";
    width: 100%;
    height: 11px;
    background-image: url(../img/bgr-ramka.png);
    background-repeat: repeat-x;
    bottom: -1px;
    z-index: 1000;
}
.my-blocks{
  padding: 73px 135px;

}
.my-block{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.my-block span{
  color: #5094f2;
  font-family: "Segoe";
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
}
.my-block span p{
  color: #909090;
  font-family: "Segoe";
  font-size: 14px;
  font-weight: 400;
}
.cart{
  padding: 0 150px;
  overflow: hidden;

}
.cart-l{
  float: left;
  width: 45%;
  text-align: center;
  margin-right: 41px;
}
.cart-l h1{
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
}

.cart-r{
  width: 45%;
  float: left;
  margin-left: 41px;
  padding-top: 30px;
}
.cart-r h3{
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
}
.cart-r p{
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
.footer{
  text-align: center;
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 44px;
  margin-top: 50px;
}
.footer span{
  color: #909090;
  font-family: "Segoe WPN";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}
.footer span>a{
  text-decoration: none;
  color: #909090;

}
